<a href="https://colab.research.google.com/github/vellsant/extensao_analisededados/blob/main/Exetens%C3%A3oAn%C3%A1liseDeDados_Exemplo2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Segundo Exemplo de Manipulação de Dados com Python Pandas <br>**
*Realizado durante o curso de extensão "Análise de Dados com Python Pandas (Básico)* <br>
*Ministrado pelo professor Henrique Poyatos* <br>
**Aluna**: Amanda Rodrigues Velloso Santana - UAM

In [1]:
#Importando a biblioteca Pandas
import pandas as pd

In [2]:
#Criando o Dataframe 'combustiveis_df'
combustiveis_df = pd.read_excel("/content/ca-2021-02.xlsx")
display(combustiveis_df)

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
0,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,GASOLINA,2021-11-01,6.799,NaN,R$ / litro,VIBRA ENERGIA
1,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,ETANOL,2021-11-01,5.299,NaN,R$ / litro,VIBRA ENERGIA
2,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,DIESEL,2021-11-01,5.549,NaN,R$ / litro,VIBRA ENERGIA
3,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,GASOLINA ADITIVADA,2021-11-01,6.899,NaN,R$ / litro,VIBRA ENERGIA
4,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,DIESEL S10,2021-11-01,5.649,NaN,R$ / litro,VIBRA ENERGIA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168404,NE,BA,JEQUIE,COMERCIAL DE COMBUSTIVEL CACHOEIRINHA LTDA,28.629.089/0001-79,AVENIDA T LOT JD TROPICAL,53,NaN,TROPICAL,45209-130,ETANOL,2021-12-31,5.859,NaN,R$ / litro,PETROSERRA
168405,SE,MG,ITUIUTABA,ABC DISTRIBUICAO DE PETROLEO LTDA,13.117.591/0006-38,AVENIDA PROFESSOR JOSE VIEIRA DE MENDONCA,2415,NaN,ALVORADA,38307-113,GASOLINA,2021-12-31,6.580,NaN,R$ / litro,BRANCA
168406,SE,MG,ITUIUTABA,ABC DISTRIBUICAO DE PETROLEO LTDA,13.117.591/0006-38,AVENIDA PROFESSOR JOSE VIEIRA DE MENDONCA,2415,NaN,ALVORADA,38307-113,ETANOL,2021-12-31,4.740,NaN,R$ / litro,BRANCA
168407,SE,MG,ITUIUTABA,ABC DISTRIBUICAO DE PETROLEO LTDA,13.117.591/0006-38,AVENIDA PROFESSOR JOSE VIEIRA DE MENDONCA,2415,NaN,ALVORADA,38307-113,DIESEL S10,2021-12-31,5.448,NaN,R$ / litro,BRANCA
168408,SE,MG,ITUIUTABA,ABC DISTRIBUICAO DE PETROLEO LTDA,13.117.591/0006-38,AVENIDA PROFESSOR JOSE VIEIRA DE MENDONCA,2415,NaN,ALVORADA,38307-113,GASOLINA ADITIVADA,2021-12-31,6.580,NaN,R$ / litro,BRANCA

In [7]:
#Inserção simples de dados
combustiveis_df['Ativo'] = True
print(combustiveis_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 168409 entries, 0 to 168408
Data columns (total 17 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     168409 non-null  object
 1   Estado - Sigla     168409 non-null  object
 2   Municipio          168409 non-null  object
 3   Revenda            168409 non-null  object
 4   CNPJ da Revenda    168409 non-null  object
 5   Nome da Rua        168409 non-null  object
 6   Numero Rua         168353 non-null  object
 7   Complemento        35057 non-null   object
 8   Bairro             168043 non-null  object
 9   Cep                168409 non-null  object
 10  Produto            168409 non-null  object
 11  Data da Coleta     168409 non-null  datetime64[ns]
 12  Valor de Venda     168409 non-null  float64
 13  Valor de Compra    0 non-null       float64
 14  Unidade de Medida  168409 non-null  object
 15  Bandeira           168409 non-null  object
 16  Ativo              168409 non-null  bool
dtypes: bool(1), datetime64[ns](1), float64(2), object(13)
memory usage: 20.7+ MB
None

In [12]:
#Criar uma coluna "OBS" que tenha escrito "MELHOR CIDADE" quando a coluna MUNICIPIO for igual a SANTOS
combustiveis_df['OBS'] = ["MELHOR CIDADE" if municipio == 'SANTOS' else '' for municipio in combustiveis_df['Municipio']]
display(combustiveis_df.loc[combustiveis_df['Municipio'].isin(['SANTOS', 'PRAIA GRANDE']),['Municipio', 'OBS']])

           Municipio            OBS
1557          SANTOS  MELHOR CIDADE
1558          SANTOS  MELHOR CIDADE
1559          SANTOS  MELHOR CIDADE
1560          SANTOS  MELHOR CIDADE
1561          SANTOS  MELHOR CIDADE
...              ...            ...
162160  PRAIA GRANDE
162161  PRAIA GRANDE
162162  PRAIA GRANDE
162163  PRAIA GRANDE
162164  PRAIA GRANDE

[929 rows x 2 columns]

In [17]:
#Preenchendo uma coluna 'Valor de Venda - Status' quer verifica:
#Valor de Venda > 6,5 = CARO
#Do contrário, BARATO

import numpy as np

combustiveis_df['Valor de Venda - Status'] = np.where(combustiveis_df['Valor de Venda'] > 6.5, 'CARO', 'BARATO')
display(combustiveis_df[['Municipio','Revenda','Valor de Venda', 'Valor de Venda - Status']])

,Municipio,Revenda,Valor de Venda,Valor de Venda - Status
0,ARAPIRACA,POSTO ARAPIRACA LTDA,6.799,CARO
1,ARAPIRACA,POSTO ARAPIRACA LTDA,5.299,BARATO
2,ARAPIRACA,POSTO ARAPIRACA LTDA,5.549,BARATO
3,ARAPIRACA,POSTO ARAPIRACA LTDA,6.899,CARO
4,ARAPIRACA,POSTO ARAPIRACA LTDA,5.649,BARATO
...,...,...,...,...
168404,JEQUIE,COMERCIAL DE COMBUSTIVEL CACHOEIRINHA LTDA,5.859,BARATO
168405,ITUIUTABA,ABC DISTRIBUICAO DE PETROLEO LTDA,6.580,CARO
168406,ITUIUTABA,ABC DISTRIBUICAO DE PETROLEO LTDA,4.740,BARATO
168407,ITUIUTABA,ABC DISTRIBUICAO DE PETROLEO LTDA,5.448,BARATO
168408,ITUIUTABA,ABC DISTRIBUICAO DE PETROLEO LTDA,6.580,CARO

In [20]:
#Calcular postos de gasolina por habitante que temos na amostragem de combustiveis de nov/21
num_habitantes_df = pd.read_csv("/content/ibge_num_habitantes_estimado.csv", sep=";")
display(num_habitantes_df)

         Municipio Estado  NumHabitantes2021
0   BELO HORIZONTE     MG            2530701
1         CAMPINAS     SP            1223237
2     CAMPO GRANDE     MS             916001
3         CURITIBA     PR            1963726
4          GOIANIA     GO            1555626
5       INDAIATUBA     SP             260690
6            NATAL     RN             803739
7           PALMAS     TO             313349
8        PENAPOLIS     SP              64098
9     PORTO ALEGRE     RS            1492530
10     PORTO VELHO     RO             548952
11      RIO BRANCO     AC             419452
12  RIO DE JANEIRO     RJ            6775561
13    SALTO GRANDE     SP               9396
14          SANTOS     SP             433991
15       SAO PAULO     SP           12396372
16     SAO VICENTE     SP             370839
17     SERRA NEGRA     SP              29669

In [23]:
#Alterar o nome da coluna 'Estado' no dataframe 'num_habitantes_df'
num_habitantes_df.rename(columns={"Estado":"Estado - Sigla"}, inplace=True)
display(num_habitantes_df)

         Municipio Estado - Sigla  NumHabitantes2021
0   BELO HORIZONTE             MG            2530701
1         CAMPINAS             SP            1223237
2     CAMPO GRANDE             MS             916001
3         CURITIBA             PR            1963726
4          GOIANIA             GO            1555626
5       INDAIATUBA             SP             260690
6            NATAL             RN             803739
7           PALMAS             TO             313349
8        PENAPOLIS             SP              64098
9     PORTO ALEGRE             RS            1492530
10     PORTO VELHO             RO             548952
11      RIO BRANCO             AC             419452
12  RIO DE JANEIRO             RJ            6775561
13    SALTO GRANDE             SP               9396
14          SANTOS             SP             433991
15       SAO PAULO             SP           12396372
16     SAO VICENTE             SP             370839
17     SERRA NEGRA             SP              29669

In [26]:
#Fazer um MERGE entre dois Dataframes
colunas=['Municipio', 'Estado - Sigla']
merge_df = combustiveis_df.merge(num_habitantes_df,  how="inner", on=colunas)
display(merge_df)
print(merge_df.info())

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira,Ativo,OBS,Valor de Venda - Status,NumHabitantes2021
0,CO,GO,GOIANIA,AERO SETE AUTO POSTO LTDA,37.831.484/0001-20,AVENIDA VEREADOR JOSE MONTEIRO,1854,QUADRA08 LOTE 11E,SETOR NEGRAO DE LIMA,74650-300,GASOLINA,2021-11-01,6.999,NaN,R$ / litro,RAIZEN,True,,CARO,1555626
1,CO,GO,GOIANIA,AERO SETE AUTO POSTO LTDA,37.831.484/0001-20,AVENIDA VEREADOR JOSE MONTEIRO,1854,QUADRA08 LOTE 11E,SETOR NEGRAO DE LIMA,74650-300,ETANOL,2021-11-01,4.990,NaN,R$ / litro,RAIZEN,True,,BARATO,1555626
2,CO,GO,GOIANIA,AERO SETE AUTO POSTO LTDA,37.831.484/0001-20,AVENIDA VEREADOR JOSE MONTEIRO,1854,QUADRA08 LOTE 11E,SETOR NEGRAO DE LIMA,74650-300,GASOLINA ADITIVADA,2021-11-01,7.130,NaN,R$ / litro,RAIZEN,True,,CARO,1555626
3,CO,GO,GOIANIA,POSTO DO BOI LTDA,06.880.293/0001-25,AVENIDA INDEPENDENCIA,2.908,NaN,VILA NOVA,74645-010,GASOLINA,2021-11-01,6.990,NaN,R$ / litro,BRANCA,True,,CARO,1555626
4,CO,GO,GOIANIA,POSTO DO BOI LTDA,06.880.293/0001-25,AVENIDA INDEPENDENCIA,2.908,NaN,VILA NOVA,74645-010,ETANOL,2021-11-01,4.990,NaN,R$ / litro,BRANCA,True,,BARATO,1555626
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20629,SE,SP,INDAIATUBA,POSTO DOS ESTEVES LTDA,20.763.169/0001-00,AVENIDA ITORORO,160,NaN,CENTRO,13330-055,GASOLINA,2021-12-28,6.499,NaN,R$ / litro,IPIRANGA,True,,BARATO,260690
20630,SE,SP,INDAIATUBA,ABDELNOR VI COMERCIO DE COMBUSTIVEIS LTDA,30.253.289/0001-11,AVENIDA PRESIDENTE KENNEDY,496,NaN,CIDADE NOVA I,13334-170,DIESEL S10,2021-12-28,5.499,NaN,R$ / litro,RAIZEN,True,,BARATO,260690
20631,SE,SP,INDAIATUBA,ABDELNOR VI COMERCIO DE COMBUSTIVEIS LTDA,30.253.289/0001-11,AVENIDA PRESIDENTE KENNEDY,496,NaN,CIDADE NOVA I,13334-170,GASOLINA ADITIVADA,2021-12-28,6.699,NaN,R$ / litro,RAIZEN,True,,CARO,260690
20632,SE,SP,INDAIATUBA,ABDELNOR VI COMERCIO DE COMBUSTIVEIS LTDA,30.253.289/0001-11,AVENIDA PRESIDENTE KENNEDY,496,NaN,CIDADE NOVA I,13334-170,ETANOL,2021-12-28,4.899,NaN,R$ / litro,RAIZEN,True,,BARATO,260690
20633,SE,SP,INDAIATUBA,ABDELNOR VI COMERCIO DE COMBUSTIVEIS LTDA,30.253.289/0001-11,AVENIDA PRESIDENTE KENNEDY,496,NaN,CIDADE NOVA I,13334-170,GASOLINA,2021-12-28,6.299,NaN,R$ / litro,RAIZEN,True,,BARATO,260690

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20634 entries, 0 to 20633
Data columns (total 20 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Regiao - Sigla           20634 non-null  object
 1   Estado - Sigla           20634 non-null  object
 2   Municipio                20634 non-null  object
 3   Revenda                  20634 non-null  object
 4   CNPJ da Revenda          20634 non-null  object
 5   Nome da Rua              20634 non-null  object
 6   Numero Rua               20634 non-null  object
 7   Complemento              3837 non-null   object
 8   Bairro                   20634 non-null  object
 9   Cep                      20634 non-null  object
 10  Produto                  20634 non-null  object
 11  Data da Coleta           20634 non-null  datetime64[ns]
 12  Valor de Venda           20634 non-null  float64
 13  Valor de Compra          0 non-null      float64
 14  Unidade de Medida        20634 non-null  object
 15  Bandeira                 20634 non-null  object
 16  Ativo                    20634 non-null  bool
 17  OBS                      20634 non-null  object
 18  Valor de Venda - Status  20634 non-null  object
 19  NumHabitantes2021        20634 non-null  int64
dtypes: bool(1), datetime64[ns](1), float64(2), int64(1), object(15)
memory usage: 3.2+ MB
None

In [31]:
#Destruir coluna totalmente vazia
merge_df.dropna(axis='columns',inplace=True)
print(merge_df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20634 entries, 0 to 20633
Data columns (total 18 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Regiao - Sigla           20634 non-null  object
 1   Estado - Sigla           20634 non-null  object
 2   Municipio                20634 non-null  object
 3   Revenda                  20634 non-null  object
 4   CNPJ da Revenda          20634 non-null  object
 5   Nome da Rua              20634 non-null  object
 6   Numero Rua               20634 non-null  object
 7   Bairro                   20634 non-null  object
 8   Cep                      20634 non-null  object
 9   Produto                  20634 non-null  object
 10  Data da Coleta           20634 non-null  datetime64[ns]
 11  Valor de Venda           20634 non-null  float64
 12  Unidade de Medida        20634 non-null  object
 13  Bandeira                 20634 non-null  object
 14  Ativo                    20634 non-null  bool
 15  OBS                      20634 non-null  object
 16  Valor de Venda - Status  20634 non-null  object
 17  NumHabitantes2021        20634 non-null  int64
dtypes: bool(1), datetime64[ns](1), float64(1), int64(1), object(14)
memory usage: 2.9+ MB
None

In [32]:
#Destruir colunas específicas
colunas=['Regiao - Sigla','Nome da Rua', 'Numero Rua', 'Bairro', 'Cep', 'Produto', 'Data da Coleta', 'Valor de Venda', 'Unidade de Medida', 'Bandeira', 'Ativo', 'Valor de Venda - Status']

merge_df.drop(labels=colunas, axis=1, inplace=True)

In [33]:
print(merge_df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20634 entries, 0 to 20633
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Estado - Sigla     20634 non-null  object
 1   Municipio          20634 non-null  object
 2   Revenda            20634 non-null  object
 3   CNPJ da Revenda    20634 non-null  object
 4   OBS                20634 non-null  object
 5   NumHabitantes2021  20634 non-null  int64
dtypes: int64(1), object(5)
memory usage: 1.1+ MB
None

In [34]:
display(merge_df.head(100))

,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,OBS,NumHabitantes2021
0,GO,GOIANIA,AERO SETE AUTO POSTO LTDA,37.831.484/0001-20,,1555626
1,GO,GOIANIA,AERO SETE AUTO POSTO LTDA,37.831.484/0001-20,,1555626
2,GO,GOIANIA,AERO SETE AUTO POSTO LTDA,37.831.484/0001-20,,1555626
3,GO,GOIANIA,POSTO DO BOI LTDA,06.880.293/0001-25,,1555626
4,GO,GOIANIA,POSTO DO BOI LTDA,06.880.293/0001-25,,1555626
...,...,...,...,...,...,...
95,GO,GOIANIA,AUTO POSTO DONA SANTA LTDA.,08.232.672/0001-34,,1555626
96,GO,GOIANIA,AUTO POSTO DONA SANTA LTDA.,08.232.672/0001-34,,1555626
97,GO,GOIANIA,AUTO POSTO ANTENA 104 EIRELI,05.634.368/0001-25,,1555626
98,GO,GOIANIA,AUTO POSTO ANTENA 104 EIRELI,05.634.368/0001-25,,1555626
99,GO,GOIANIA,AUTO POSTO ANTENA 104 EIRELI,05.634.368/0001-25,,1555626

In [36]:
#Deletar as linhas duplicadas
merge_df.drop_duplicates(inplace=True)
print(merge_df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1532 entries, 0 to 20608
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Estado - Sigla     1532 non-null   object
 1   Municipio          1532 non-null   object
 2   Revenda            1532 non-null   object
 3   CNPJ da Revenda    1532 non-null   object
 4   OBS                1532 non-null   object
 5   NumHabitantes2021  1532 non-null   int64
dtypes: int64(1), object(5)
memory usage: 83.8+ KB
None

In [37]:
display(merge_df.head(100))

,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,OBS,NumHabitantes2021
0,GO,GOIANIA,AERO SETE AUTO POSTO LTDA,37.831.484/0001-20,,1555626
3,GO,GOIANIA,POSTO DO BOI LTDA,06.880.293/0001-25,,1555626
7,GO,GOIANIA,POSTO DN LTDA,05.413.136/0001-47,,1555626
11,GO,GOIANIA,POSTO ALDEIA LTDA,04.896.662/0001-42,,1555626
15,GO,GOIANIA,AUTO POSTO SANTA LUZIA LTDA,04.142.631/0001-04,,1555626
...,...,...,...,...,...,...
1677,RJ,RIO DE JANEIRO,POSTO SANTA CLARA DA PAVUNA II LTDA,06.955.648/0001-06,,6775561
1682,RJ,RIO DE JANEIRO,POSTO SANTA CLARA DA PAVUNA LTDA,03.246.347/0001-07,,6775561
1688,RJ,RIO DE JANEIRO,NOVA PARADINHA AUTO POSTO LTDA,07.594.094/0001-13,,6775561
1694,RJ,RIO DE JANEIRO,AUTO POSTO LUAR DA PENHA LTDA.,07.035.006/0001-43,,6775561
1699,RJ,RIO DE JANEIRO,AUTO POSTO FUTURO GNV DE BONSUCESSO LTDA,05.037.349/0001-11,,6775561

In [40]:
merge_df.drop(labels='OBS',axis=1,inplace=True)

In [50]:
#Agrupar e contar quantos postos tem ans cidades
postos_por_municipio_df=merge_df.groupby(by=['Estado - Sigla', 'Municipio', 'NumHabitantes2021']).count()

postos_por_municipio_df.rename(columns={"Revenda":"Numero de Postos"}, inplace=True)

display(postos_por_municipio_df)

                                                 Numero de Postos  \
Estado - Sigla Municipio      NumHabitantes2021
AC             RIO BRANCO     419452                           44
GO             GOIANIA        1555626                          93
MG             BELO HORIZONTE 2530701                          54
MS             CAMPO GRANDE   916001                          104
PR             CURITIBA       1963726                         110
RJ             RIO DE JANEIRO 6775561                         379
RN             NATAL          803739                           37
RO             PORTO VELHO    548952                           40
RS             PORTO ALEGRE   1492530                          73
SP             CAMPINAS       1223237                          51
               INDAIATUBA     260690                           36
               SANTOS         433991                           36
               SAO PAULO      12396372                        429
               SAO VICENTE    370839                           20
TO             PALMAS         313349                           26

                                                 CNPJ da Revenda
Estado - Sigla Municipio      NumHabitantes2021
AC             RIO BRANCO     419452                          44
GO             GOIANIA        1555626                         93
MG             BELO HORIZONTE 2530701                         54
MS             CAMPO GRANDE   916001                         104
PR             CURITIBA       1963726                        110
RJ             RIO DE JANEIRO 6775561                        379
RN             NATAL          803739                          37
RO             PORTO VELHO    548952                          40
RS             PORTO ALEGRE   1492530                         73
SP             CAMPINAS       1223237                         51
               INDAIATUBA     260690                          36
               SANTOS         433991                          36
               SAO PAULO      12396372                       429
               SAO VICENTE    370839                          20
TO             PALMAS         313349                          26

In [51]:
print(postos_por_municipio_df.info())

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 15 entries, ('AC', 'RIO BRANCO', 419452) to ('TO', 'PALMAS', 313349)
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Numero de Postos  15 non-null     int64
 1   CNPJ da Revenda   15 non-null     int64
dtypes: int64(2)
memory usage: 800.0+ bytes
None